@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Varela+Round&display=swap');

body, html, #root, .App {
  font-family: 'Varela Round', 'Pompiere', Arial, sans-serif !important;
}

* {
  font-family: inherit !important;
}
